.nfts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: var(--bg-dark);
  border-radius: 20px;
  overflow: hidden;
  transition: all .15s linear;

  &:hover {
    transform: translateY(-5px);
  }

  &__picture {
    width: 100%;
    min-height: 295px;
    display: flex;
    background: var(--gradient-cold);
    cursor: pointer;

    &-object {
      width: 100%;
      max-width: 330px;
      min-width: 330px;
      height: 100%;
      max-height: 295px;
      min-height: 295px;
    }

    & img {
      width: 100%;
      max-width: 330px;
      height: 100%;
      max-height: 295px;
      min-height: 295px;
      background: var(--gradient-warm);
      background: url('../../../src/assets/images/img-placeholder/bg-nft.svg') no-repeat center;
      background-size: cover;
      object-fit: cover;
    }
  }

  &__info {
    display: grid;
    row-gap: 25px;
    padding: 20px 30px 25px;

    &-values {
      display: flex;
      justify-content: space-between;
    }

    &-value {
      display: grid;
      row-gap: 8px;

      & span {
        color: var(--color-gray);
      }
    }
  }
}

.dark {
  background-color: var(--bg-dark);
}

.gray {
  background-color: var(--bg-gray);
}