.nft {
  padding: 80px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
  }

  &__img {
    width: 100%;
    display: flex;

    & img {
      border-radius: 20px;
      max-width: 450px;
      min-width: 450px;
      height: auto;
      max-height: 450px;
      min-height: 450px;
      object-fit: cover;
      background: var(--gradient-cold);
    }
  }

  &__info {

    & h6 {
      font-weight: var(--fw-400);
      line-height: var(--lh-160);
      color: var(--color-gray);
    }
  }

  &__author {
    margin-top: 30px;

    & h5 {
      font-family: var(--font-family-space);
      font-weight: var(--fw-700);
      line-height: var(--lh-160);
      color: var(--color-gray);
    }
  }

  &__price {
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;

    & p {
      color: var(--color-gray);
      font-weight: var(--fw-600);
      line-height: var(--lh-160);
    }
  }

  &-links {
    margin-top: 30px;

    & h5 {
      color: var(--color-gray);
    }

    &__icons {
      display: flex;
      column-gap: 5px;
    }

    &__icon {
      fill: var(--color-gray);

      &-twitter {
        stroke: var(--color-gray);
        cursor: pointer;
        fill: transparent;
      }
    }
  }

  &__description {
    margin-top: 50px;

    & h5 {
      color: var(--color-gray);
    }

    &-text {
      margin-top: 10px;
    }

    & p {
      font-weight: var(--fw-400);
    }
  }

  &__bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  &__more {
    margin-top: 60px;
  }
}