.acc-cover {
  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 60px;
  }

  &__picture {
    display: flex;
    max-width: 610px;

    & img {
      object-fit: fill;
    }
  }
}

@media (max-width: 775px) {
  .acc-cover {
    &__content {
      column-gap: 40px;
    }

    &__account {
      margin: 30px 0 40px;
    }
  }
}

@media (max-width: 775px) {
  .acc-cover {
    &__content {
      column-gap: 30px;
      grid-template-columns: 40% 1fr;
    }

    &__picture img {
      object-fit: cover;
    }
  }
}

@media (max-width: 650px) {
  .acc-cover {
    &__content {
      grid-template-columns: 1fr;
    }

    &__picture {
      max-height: 232px;
    }

    &__account {
      width: 100%;
      max-width: 350px;
      margin: 30px auto 40px;
    }
  }
}

@media (max-width: 400px) {
  .acc-cover {
    &__account {
      max-width: 315px;
    }
  }
}

@media (max-width: 340px) {
  .acc-cover {
    &__account {
      max-width: 290px;
    }
  }
}